[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
imageio = "*"
matplotlib = "*"
scikit-image = "*"
pandas = "*"
tensorflow = "*"
cytoolz = "*"
pipfile = "*"
python3-tk = "*"

[requires]
python_version = "3.6"
